<mat-card class="absolute" *ngIf="user && users">
    <div class="width-100 height-100 relative">
        <div class="header">
            {{ user.notification.annonce.length }}
            {{ user.notification.annonce.length === 0 ? ' Notification' : ' Notifications' }}
            <span (click)="close()">X</span>
        </div>
        <div class="content">
            <div class="comment" *ngFor="let notif of user.notification.annonce">
                <div class="comment-header">
                    <img src="{{ findUser(notif._id_user).pic_prof[0] }}" alt="" class="">
                <div class="comment-text">
                    <fa [name]="'thumbs-up'" class="text-deepskyblue" *ngIf="notif.type  === 'like'"></fa>
                    <fa [name]="'heart'"  class="text-red" *ngIf="notif.type  === 'follow'"></fa>
                    <fa [name]="'comment'" class="text-blue" *ngIf="notif.type  === 'comment'"></fa>
                    <div class="text">
                        <h4>{{ findUser(notif._id_user).firstName }}</h4>
                        <p *ngIf="notif.type  === 'like'"> {{lang === 'FR' ? 'a aimé votre publication' : 'liked your ad' }}</p>
                        <p *ngIf="notif.type  === 'comment'">{{lang === 'FR' ? 'a commenté votre publication': 'comment your ad'}}</p>
                        <p *ngIf="notif.type  === 'follow'">{{lang === 'FR' ? 'a réagi votre publication' : 'loved your ad'}}</p>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</mat-card>