.back-white{
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
}
.absolute{
    width: 650px;
    position: absolute;
    max-height: calc(100% - 100px) !important;
    min-height: calc(100% - 100px) !important;
    top: 70px;
    background-color: #ffffff;
    left: calc(50% - 325px);
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 25px;  
}
.header{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: fixed;
    width: 650px;
    height: 50px;
    background: deepskyblue;
    top: 22px;
    left: calc(50% - 325px);
    color: white;
    text-align: center;
    line-height: 50px;

    padding-right: 20px;

    span{
        float: right;
        font-weight: bold;
        cursor: pointer;
    }
}

.content{
    .comment-header{
        margin: 10px auto;
    }
    img{
        width: 40px !important;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
    }
    .comment-text{
        fa{
            font-size: 2.2em;
            color: deepskyblue;
            float: right;
            margin: 10px;
        }
        width: calc(100% - 60px);
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        border: 1px solid #d0cece85;
        border-radius: 5px;
        p{
            white-space: pre-line;
            word-wrap: wrap;
        }
    }
}

