<div class="container">
    <div class="card-rotate card-body"></div>
    <div class="card2-rotate card-body"></div>
    <mat-card class="body text-center">
        <mat-card-title>
            <h2>Bienvenue sur Wellcoloc !</h2>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input type="text" matInput placeholder="Email" required />
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="password" matInput placeholder="Mot de passe" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="password" matInput placeholder="Confirmer votre mot de passe" required/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color='primary'>S'inscrire</button>
            <button mat-raised-button color='accent'>Se connecter</button>
            <h4>ou</h4>
            <hr>
            <h3>S'inscrire avec</h3>
            <button mat-fab class='facebook-color'>
              <fa [name]="'facebook'" [size]=1></fa>
            </button>
            <button mat-fab class='twitter-color'>
              <fa [name]="'twitter'" [size]=1></fa>
            </button>
            <button mat-fab class='linkedin-color'>
              <fa [name]="'linkedin'" [size]=1></fa>
            </button>
            <button mat-fab class='googleplus-color'>
              <fa [name]="'google-plus'" [size]=1></fa>
            </button>
        </mat-card-footer>
    </mat-card>
</div>