.container {
    max-width: 500px;
    position: relative;
}

.body {
    z-index: 55;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none
}

.card-body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card2-rotate {
    background-color: white;
    transform: rotate(2deg);
    z-index: 22;
}

.card-rotate {
    background-color: rgb(216, 216, 216);
    transform: rotate(-3deg);
    z-index: 0;
}

hr {
    border-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.w-full {
    width: 100%
}

mat-form-field {
    width: 40%
}

mat-card-footer {
    padding: 25px
}

@media screen and (max-width: 786px) {
    mat-form-field {
        width: 65%
    }
}