<footer *ngIf="db">

    <div class="text-center mb-4">
        <div class="container">
            <mat-form-field class="mr-4">
                <input matInput type="text" placeholder="{{ db.__text.your_email[lang] }}" />
            </mat-form-field>
            <button mat-raised-button color='primary'><fa [name]="'rss'" class="mr-2"></fa>{{ db.subscribe[lang] }}</button>
        </div>
    </div>

    <div class="container footer_container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <h4>Wellcoloc</h4>
                <p><a href="#">{{ db.blog[lang] | titlecase}}</a></p>
                <p><a routerLink="/about">{{ db.about[lang] }}</a></p>
                <p><a href="#">{{ db.direction[lang] }}</a></p>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>{{ db.__text.client_service[lang] }}</h4>
                <p><a routerLink="/terms-and-conditions">Termes & conditions</a></p>
                <p><a routerLink="/faq">{{ db.FAQ[lang] }}</a></p>
                <p><a routerLink="/privacy-policy">{{ db.__text.privacy_policy[lang] }}</a></p>
            </div>

            <div class="col-md-4 col-sm-6">
                <h4>{{ db.help[lang] }}</h4>
                <p>
                    <mat-icon>place</mat-icon><span>{{ db.__location }}</span></p>
                <p>
                    <fa [name]="'envelope'"></fa> {{ db.__email }}</p>
                <p>
                    <fa [name]="'phone'"></fa> {{ db.__contact }}</p>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>{{ db.__text.follow_us[lang] }}</h4>
                <button mat-fab class='facebook-color mr-1'>
                        <fa [name]="'facebook'" [size]=1></fa>
                    </button>
                <button mat-fab class='twitter-color mr-1'>
                        <fa [name]="'twitter'" [size]=1></fa>
                    </button>
                <button mat-fab class='linkedin-color mr-1'>
                            <fa [name]="'linkedin'" [size]=1></fa>
                        </button>
                <button mat-fab class='googleplus-color'>
                        <fa [name]="'google-plus'" [size]=1></fa>
                    </button>
            </div>
        </div>
    </div>
    <p class="text-center">Copyright 2018. Wellcoloc</p>
</footer>