footer {
    background-color: #f0f0f0;
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

a:hover {
    text-decoration: underline
}

h2 {
    color: #2c2c2c;
}

hr {
    border-color: rgb(255, 255, 255);
    opacity: 0.2;
    margin: 25px
}
.footer_container{
    max-width: calc(100% - 10px) !important;
}