<div class="width-100 m-t-60" *ngIf="trano && user">
  <mat-card class="w-20 text-center  proprio-card ">
      <h3 class="text-normal m-0 text-1-5-em">Propriétaire</h3>
      <img matTooltip="voir profil" src="assets/img/userH.png" alt="" class="rounded-border w-60p m-20" (click)="goToUserProfil(trano.id_user)">
      <mat-card-title>
          {{ user.firstName }}
      </mat-card-title>
      <mat-card-content class="text-1-3-em text-center">
          <p> Sexe : {{ user.sexe }}</p>
          <p> Age : {{ calculeAge(user.date_birth) }} ans</p>
      </mat-card-content>
      <a mat-fab class="m-10-20 back-green"><fa [name]="'phone'" class="text-1-5-em"></fa></a>
      <a mat-fab color="primary" class="m-10-20"><fa [name]="'comment'" class="text-1-5-em" (click)="goToChat(trano.id_user)"></fa></a>
  </mat-card>

  <mat-card class="publication-container">
          <mat-card-header>
              <div class="m-10 m-t-0 absolute">
              <h4 class="text-normal ">{{ user.firstName }}</h4>                            
              <img src="assets/img/userH.png" alt="" class="rounded-border w-45px h-45px" (click)="goToUserProfil(trano.id_user)" matTooltip="voir profil">
            </div>
          </mat-card-header>
          <mat-card-content>
              <img mat-card-image src="{{ trano.pic_annonce[0] }}" alt="romPics">
          </mat-card-content>
          <p class="text-center">                    
              <mat-icon class="text-red">place</mat-icon>
              {{ trano.address_annonce }}
          </p> 
          <div class="text-right flex">
                  <p class="type-loc-hidden p-10 w-120 text-center price chip">{{ trano.type_annonce }}</p>                       
                  <p class="p-10 w-120 text-center price chip">{{ trano.price_annonce }} &euro; / mois</p>
          </div>

          <!-- elements in position absolute -->
          <p class="text-center absolute top-10 publication-date"> {{ trano.date_share_annonce }}</p>
          <button *ngIf="dts.User && dts.User.id_user === trano.id_user" class="text-center absolute top-10 right-10px modif-button" (click)="openModifAnnonce()">Modifier</button>

          <div class="absolute rot-135 typeContent"></div>

          <div class="text-white text-center absolute rot-135 typeLoc">
              {{ trano.type_annonce }}
          </div>  
          <mat-card-footer class="relative z-i-2">


            <!--icons-->
            <!-- like or unlike -->
            <div class="container">
                <div class="row reactions">
                    <div class="col-3">
                        <a *ngIf="trano.reaction_annonce.like.indexOf(dts.User.id_user) === -1" mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-pink relative" matTooltip="like" (click)="reaction('like', trano.id_annonce)">
                            <fa [name]="'thumbs-o-up'" class="text-1-5-em"></fa>
                            <sup *ngIf="trano.reaction_annonce.like.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.like.length }}</sup>
                        </a>
                        <a *ngIf="trano.reaction_annonce.like.indexOf(dts.User.id_user) !== -1" mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-pink relative" matTooltip="like" (click)="reaction('unlike', trano.id_annonce)">
                            <fa [name]="'thumbs-up'" class="text-1-5-em"></fa>
                            <sup *ngIf="trano.reaction_annonce.like.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.like.length }}</sup>
                        </a>
                        <div class="label label-like">
                            J'aime
                        </div>

                    </div>
                    <div class="col-4">
                        <!-- comment -->
                        <a mat-mini-fab matTooltip="comment" class="box-shadow-none border-none  m-10 back-none text-blue" (click)="showComment(trano.id_annonce)">
                            <fa [name]="'comment-o'" class="text-1-5-em"></fa>
                            <sup *ngIf="trano.reaction_annonce.comment.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.comment.length }}</sup>
                        </a>
                        <div class="label label-comment">
                            Commentaire
                        </div>

                    </div>
                    <div class="col-3">

                        <!-- follow or unfollow -->

                        <a *ngIf="trano.reaction_annonce.follow.indexOf(dts.User.id_user) === -1" mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-red" matTooltip="love to follow" (click)="reaction('follow', trano.id_annonce)">
                            <fa [name]="'heart-o'" class="text-1-5-em"></fa>
                            <sup *ngIf="trano.reaction_annonce.follow.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.follow.length }}</sup>
                        </a>
                        <a *ngIf="trano.reaction_annonce.follow.indexOf(dts.User.id_user) !== -1" mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-red" matTooltip="love to follow" (click)="reaction('unfollow', trano.id_annonce)">
                            <fa [name]="'heart'" class="text-1-5-em"></fa>
                            <sup *ngIf="trano.reaction_annonce.follow.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.follow.length }}</sup>
                        </a>
                        <div class="label label-follow">
                            Suivre
                        </div>
                    </div>
                    <div class="col-2">
                        <a *ngIf="false" mat-mini-fab class="box-shadow-none border-none back-none text-pink m-10" matTooltip="rate" (click)="reaction('rate', trano.id_annonce)">
                            <fa [name]="'star'" class="text-1-5-em"></fa>
                        </a>
                        <a mat-mini-fab class="box-shadow-none absolute bottom-10 back-none right-10px text-silver" matTooltip="show more pics" (click)="showPic(trano)">
                            <fa [name]="'plus'" class="text-1-5-em"></fa>
                        </a>
                    </div>
                </div>
            </div>
            
            

        </mat-card-footer>
          

      </mat-card>
      <!-- commentaire sur la publication -->            
      <mat-card class="commentaire p-b-5px publication-container hidden" id="comment{{trano.id_annonce}}">
          <!-- it's important to write the "hidden" in attribut class to avoid disfunctionnement -->
          <!-- adjust width with publication-cotainer with this class -->
          <div #commentaireComponent class="commentaires" id="commentaires{{trano.id_annonce}}">
              <div class="commentaire-container" *ngFor="let comment of trano.reaction_annonce.comment">
                  <img src="assets/img/userH.png" alt="" class="rounded-border w-45px h-45px  inline-block m-t-10">
                  <p class='comment-text inline-block m-l-10px align-top'>
                      {{ comment.comment_user }}
                  </p>
                  <mat-divider></mat-divider>
              </div>
          </div>


          <!-- div pour combler le vide derriere comment-input-->
          <div class="comment-input" #commentInputClone></div>
          <!--*******-->

          <div class="comment-input absolute left bottom" #textareaContainer>
              <textarea #textarea (input)="resizeTextarea(textarea, textareaContainer, commentInputClone, trano.id_annonce)" 
                  name="" id="" cols="30" rows="10" placeholder="Commenter" class="inline-block align-top"></textarea>
              <fa [name]="'paper-plane'" class="text-blue inline-block align-top text-1-5-em" (click)="addComment([textarea, textareaContainer, commentInputClone, trano.id_annonce],textarea,commentaireComponent, trano.id_annonce)"></fa>
          </div>


      </mat-card>

</div>