
.w-40px{
    width: 40px !important;
}
.h-40px{
    height: 40px;
}
mat-toolbar {
    position: fixed !important;
    top: 0 !important;
    z-index: 99;
    background-color: #028bff;
    color: white;
    box-shadow: 0px 0 10px 0px black;
    justify-content: space-between;    
    span {
        padding: 5px
    }
    img {
        width: 75px
    }
}
.navIcons{
   font-size: 2em; 
}
.flex-end {
    text-align: right
}

.filler {
    flex-grow: 1;
}

.xs-link {
    display: none
}

.mat-select{
    width: 75px
}

.custom_chip{
    display: inline;
    background-color: white;
    color: #212121;
    border-radius: 50px;
    padding: 10px;
    font-size: .7em;
    img{
        width: 25px !important
    }
}

@media screen and (max-width: 765px) {
    .md-link {
        display: none
    }
    .xs-link {
        display: block;
        line-height: 0;
    }
    mat-toolbar {
        justify-content: left
    }
}
.text-center{
    text-align: center;
}
.publication-icon{
    background-color: #2196f2 !important;
    top: 200px;
    opacity: 0.5;
}
.publication-icon:hover{
    opacity: 1;
    transform: scale(1.2)
}
.modif-profile{
    top: 53px;
    right: 0;
    background: white;
    width: 350px;
    box-shadow: 1px 1px 5px 0px #8080806b;
    .container-fluid{
        overflow: hidden;
        padding: 0;
        position: relative;
    }
}
.modif-profile{
    transform: scale(0);
}
.toggle-modif{
    background: transparent !important;
    border: 0 !important;
}
.toggle-modif:focus .modif-profile{
    // transform: scale(1);
    transform-origin: top right; 
    transition: .3s ease-in;
    width: 350px;

}
.modif-profile:hover{
    transform: scale(1);
}
.clear-icon{
    position: relative;
    z-index: 3;
    color: white;
    left: 161px;
    top: 5px;
    transform: rotate(0deg);

    transition: .1s ease-in;

    cursor: pointer;
}
.clear-icon:hover{
    transform: rotate(90deg);
    transform-origin: center;
    transition: .1s ease-in;
}
