<!-- <mat-toolbar>
    <img src="assets/img/welllogo.png" />
    <span>Wellcoloc</span>
    <button mat-button class="md-link"(click)="openInscription(true)">{{ dbLang.__text.find_coloc[lang] }}</button>
    <div class="filler"></div> -->
        <!-- ========================================================================================- nav -->
        <!-- <button mat-button routerLink="/home" class="md-link" *ngIf="!user._id">
            <span>Accueil</span>        
        </button>
        <button routerLink="inscription" mat-button class="md-link" *ngIf="!user._id">
            <span>S'inscrire</span>        
        </button>
        <button (click)="openInscription(false)" mat-button class="md-link" *ngIf="!user._id" matTooltip="Se connecter">
            <span>Se connecter</span>
        </button> -->

        <!-- =================================== nav for user connected -->
        <!-- <button routerLink="/feed" mat-button class="md-link" *ngIf="user._id" matTooltip="Accueil">
            <mat-icon>home</mat-icon>
        </button>
        <img *ngIf="user._id" src="{{user.pic_prof[0]}}" alt="" class="rounded-border w-40px h-40px pointer" (click)="goToUserProfil(user._id_user)" matTooltip="voir profil">        
        <button (click)="goToChat()" mat-button class="md-link" *ngIf="user._id" matTooltip="Messages">
            <mat-icon>chat</mat-icon>
            <sup *ngIf="user.notification.chat.length > 0">{{user.notification.chat.length}}</sup>
            <sup class="text-red" *ngIf="user.notification.chat.length > 0">{{user.notification.chat.length}}</sup>      -->
        <!-- </button>
        <button (click)="openDialogNotification()" mat-button class="md-link" *ngIf="user._id" matTooltip="Notifications" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <mat-icon >notifications</mat-icon>
            <sup *ngIf="user.notification.annonce.length > 0">{{user.notification.annonce.length}}</sup>                 
        </button>
        <button (click)="logout()" mat-button class="md-link" *ngIf="user._id" matTooltip="Se déconnecter">
            <mat-icon>power_settings_new</mat-icon>
        </button> -->
        

    <!-- <button mat-icon-button [matMenuTriggerFor]=menu class="xs-link">
        <fa [name]="'bars'" [size]=2></fa>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span>Trouver un coloc</span>
        </button> -->
        <!-- ============================nav -->
        <!-- <button mat-menu-item routerLink="/home"  class="text-center" *ngIf="!user._id">
            <span>Accueil</span>        
        </button>
        <button mat-menu-item routerLink="inscription" class="text-center" *ngIf="!user._id">
            <span>S'inscrire</span>        
        </button>
        <button (click)="openInscription(false)" mat-menu-item class="text-center" *ngIf="!user._id" matTooltip="Se connecter">
            <span>Se connecter</span>
        </button> -->

        <!-- =================================== nav for user connected -->
        <!-- <button routerLink="/feed" mat-menu-item class="text-center" *ngIf="user._id" matTooltip="Accueil">
            <mat-icon>home</mat-icon>
        </button>
        <button routerLink="/chat" mat-menu-item class="text-center" *ngIf="user._id" matTooltip="Messages">
            <mat-icon>chat</mat-icon> -->
            <!-- <sup class="text-red" *ngIf="user.notification.chat.length > 0">{{user.notification.chat.length}}</sup>      -->
        <!-- </button>
        <button matBadge="8" matBadgePosition="before" matBadgeColor="accent" mat-menu-item (click)="openInscription(false)" class="text-center" *ngIf="user._id" matTooltip="Notifications">
            <mat-icon>notifications</mat-icon> -->
            <!-- <sup class="text-red" *ngIf="user.notification.annonce.length > 0">user.notification.annonce.length</sup>                  -->
        <!-- </button>
        <button mat-menu-item (click)="logout()" class="text-center" *ngIf="user._id" matTooltip="Se déconnecter">
            <mat-icon>power_settings_new</mat-icon>
        </button>

 



        
    </mat-menu>
    <a matBadge="11" *ngIf="user._id" mat-fab class="fixed right-10px top-75px text-1-3-em publication-icon" color="accent" (click)="openDialogPublication()" matTooltip="Publier">
        <fa [name]="'bullhorn'" ></fa>
    </a>
</mat-toolbar> -->




<!--  -->
<mat-toolbar *ngIf="dbLang">
    <img src="assets/img/welllogo.png" routerLink="/home"/>
    <span routerLink="/home">Wellcoloc</span>
    <button mat-button class="md-link"(click)="openInscription(true)">{{ dbLang.__text.find_coloc[lang] }}</button>
    <div class="filler"></div>
    <div class="text-right">
        <!-- --------------------------------- nav -->
        <button mat-button routerLink="/home" class="md-link" *ngIf="!user._id">
            <span>{{ dbLang.home[lang] }}</span>        
        </button>
        <button routerLink="inscription" mat-button class="md-link" *ngIf="!user._id">
            <span>{{ dbLang.register[lang] }}</span>        
        </button>
        <button (click)="openInscription(false)" mat-button class="md-link" *ngIf="!user._id">
            <span>{{ dbLang.login[lang] }}</span>
        </button>

        <!-- =================================== nav for user connected -->
        <button routerLink="/feed" mat-button class="md-link" *ngIf="user._id" matTooltip="{{ dbLang.home[lang] }}">
            <mat-icon>home</mat-icon>
        </button>

        <button class="p-0 relative toggle-modif"  *ngIf="user._id">
            <div class="absolute modif-profile" #elem id="modif_profile">
                <div class="container-fluid">
                    <mat-icon class="clear-icon" (click)="hideElem(elem)">clear</mat-icon>
                    <app-user-profil></app-user-profil>
                </div>
            </div>
            <img *ngIf="user._id" src="{{user.pic_prof[0]}}" alt="" class="rounded-border w-40px h-40px pointer" (click)="showElem(elem)" matTooltip="{{ dbLang.see_profile[lang] }}">        

        </button>

        <button (click)="goToChat()" mat-button class="md-link" *ngIf="user._id" matTooltip="Messages">
            <mat-icon>chat</mat-icon>
            <sup *ngIf="user.notification.chat && user.notification.chat.length > 0">{{user.notification.chat.length}}</sup>
        </button>
        <button (click)="openDialogNotification()" mat-button class="md-link" *ngIf="user._id" matTooltip="Notifications" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <mat-icon >notifications</mat-icon>
            <sup *ngIf="user.notification.annonce && user.notification.annonce.length > 0">{{user.notification.annonce.length}}</sup>                 
        </button>
        <button (click)="logout()" mat-button class="md-link" *ngIf="user._id" matTooltip="{{ dbLang.logout[lang] }}">
            <mat-icon>power_settings_new</mat-icon>
        </button>

        <div class="custom_chip">
            <img src="assets/icon/{{lang}}.png">
            <mat-select (selectionChange)="setLanguage($event)" [(ngModel)]="lang">
                <mat-option value="EN">English</mat-option>
                <mat-option value="FR">French</mat-option>
            </mat-select>
        </div>
        
    </div>
        

    <button mat-icon-button [matMenuTriggerFor]=menu class="xs-link">
        <fa [name]="'bars'" [size]=2></fa>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span>{{ dbLang.__text.search_coloc[lang] }}</span>
        </button>
        <!-- ============================nav -->
        <button mat-menu-item routerLink="/home"  class="text-center" *ngIf="!user._id">
            <span>{{ dbLang.home[lang] }}</span>        
        </button>
        <button mat-menu-item routerLink="inscription" class="text-center" *ngIf="!user._id">
            <span>{{ dbLang.register[lang] }}</span>        
        </button>
        <button (click)="openInscription(false)" mat-menu-item class="text-center" *ngIf="!user._id">
            <span>{{ dbLang.login[lang] }}</span>
        </button>

        <!-- =================================== nav for user connected -->
        <button routerLink="/feed" mat-menu-item class="text-center" *ngIf="user._id" matTooltip="{{ dbLang.home[lang] }}">
            <mat-icon>home</mat-icon>
        </button>
        <button routerLink="/chat" mat-menu-item class="text-center" *ngIf="user._id" matTooltip="messages">
            <mat-icon>chat</mat-icon>
            <sup class="" *ngIf="user.notification.chat && user.notification.chat.length > 0">{{user.notification.chat.length}}</sup>     
        </button>
        <button matBadge="8" matBadgePosition="before" matBadgeColor="accent" mat-menu-item (click)="openInscription(false)" class="text-center" *ngIf="user._id" matTooltip="Notifications">
            <mat-icon>notifications</mat-icon>
            <sup class="" *ngIf="user && user._id && user.notification.annonce && user.notification.annonce.length > 0">user.notification.annonce.length</sup>                 
        </button>
        <button mat-menu-item (click)="logout()" class="text-center" *ngIf="user._id" matTooltip="{{ dbLang.logout[lang] }}">
            <mat-icon>power_settings_new</mat-icon>
        </button>        
    </mat-menu>
</mat-toolbar>