<div id="privacy" style="margin-top: 65px">
    <div class="privacy">
        <h1 class="text-center">
            <fa [name]="'lock'" class="mr-2"></fa>Politique de confidentialité
        </h1>
        <div class="part">
            <h2>Collecte de l’information</h2>
            <p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, faites un abonnement, participez à un concours, et / ou lorsque vous vous déconnectez. Les informations recueillies incluent
                votre nom, votre adresse e-mail, numéro de téléphone, et / ou carte de crédit. En outre, nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels
                et votre matériel, et la page que vous demandez.
            </p>
        </div>
        <div class="part">
            <h2>Utilisation des informations</h2>
            <p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
            <ul>
                <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
                <li>Fournir un contenu publicitaire personnalisé</li>
                <li>Améliorer notre site Web</li>
                <li>Améliorer le service client et vos besoins de prise en charge</li>
                <li>Vous contacter par e-mail</li>
                <li>Administrer une promotion, ou une enquête</li>
            </ul>
        </div>
        <div class="part">
            <h2>Confidentialité du commerce en ligne</h2>
            <p>
                Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, ni échangées, ni transférées, ou donner à une autre société pour quelconque raison, sans votre consentement, en dehors de
                ce qui est nécessaire pour répondre à une demande et / ou une transaction, comme par exemple pour expédier une commande.
            </p>
        </div>
        <div class="part">
            <h2>Divulgation à des tiers</h2>
            <p>
                Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties
                conviennent de garder ces informations confidentielles.
            </p>
            <p>
                Nous pensons qu’il est nécessaire de partager des informations afin d’enquêter, de prévenir ou de prendre des mesures concernant des activités illégales, fraudes présumées, situations impliquant des menaces potentielles à la sécurité physique de toute
                personne, violations de nos conditions d’utilisation, ou quand la loi nous y contraint.
            </p>
            <p>
                Les informations non-privées, cependant, peuvent être fournies à d’autres parties pour le marketing, la publicité, ou d’autres utilisations.
            </p>
        </div>
        <div class="part">
            <h2>Protection des informations</h2>
            <p>
                Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons
                également vos informations hors ligne. Seuls les employés qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables. Les ordinateurs
                et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.
            </p>
        </div>
        <div class="part">
            <h2>Est-ce que nous utilisons des cookies ?</h2>
            <p>Oui. Nos cookies améliorent l’accès à notre site et identifient les visiteurs réguliers. En outre, nos cookies améliorent l’expérience d’utilisateur grâce au suivi et au ciblage de ses intérêts. Cependant, cette utilisation des cookies n’est
                en aucune façon liée à des informations personnelles identifiables sur notre site.</p>
        </div>
        <div class="part">
            <h2>Se désabonner</h2>
            <p>
                Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des informations et mises à jour relatives à votre commande, des nouvelles de l’entreprise de façon occasionnelle, des informations sur des produits liés, etc. Si à n’importe quel moment
                vous souhaitez vous désinscrire et ne plus recevoir d’e-mails, des instructions de désabonnement détaillées sont incluses en bas de chaque e-mail.
            </p>
        </div>
        <div class="part">
            <h2>Consentement</h2>
            <p>En utilisant notre site, vous consentez à notre politique de confidentialité</p>
        </div>
    </div>
</div>
<app-footer></app-footer>