#privacy,
.privacy {
    padding: 25px
}

p,
ul li {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em
}

@media screen and (max-width: 640px) {
    #privacy {
        padding: 0
    }
}