<form *ngIf="data.aModifier === 'contact'" [formGroup]="rForm" class="text-center">
        <h3>Apporter des modifications</h3>
        <mat-form-field class="p-5 block">
            <input formControlName="phone" matInput type="text" placeholder="contact" required>
        </mat-form-field>
        <div>
          <button class="m-10" [disabled]="!rForm.valid" mat-raised-button color="accent" (click)="modifProfil('contact')">Modifier</button>
          <button class="m-10" mat-raised-button color="primary" (click)="closeDialog()">Annuler</button>    
        </div>
      </form>
<form *ngIf="data.aModifier === 'name'" [formGroup]="rForm" class="text-center">
    <h3>Apporter des modifications</h3>
    <mat-form-field class="p-5 block">
        <input formControlName="firstName" matInput type="text" placeholder="Nom" required>
    </mat-form-field>
    <mat-form-field class="p-5 block">
        <input formControlName="lastName" matInput type="text" placeholder="Prénom" required>
    </mat-form-field>
    <div>
      <button class="m-10" [disabled]="!rForm.valid" mat-raised-button color="accent" (click)="modifProfil('name')">Modifier</button>
      <button class="m-10" mat-raised-button color="primary" (click)="closeDialog()">Annuler</button>    
    </div>
  </form>
  <form *ngIf="data.aModifier === 'password'" [formGroup]="rForm" class="text-center ">
      <h3>Apporter des modifications</h3>
      <mat-form-field class="p-5 block">
          <input formControlName="lastPassword" matInput type="password" placeholder="Ancien Mot de passe" required>
      </mat-form-field>
      <div class="text-red relative top--15px text-right" *ngIf="!rForm.controls['lastPassword'].valid && rForm.controls['lastPassword'].touched">
          <div *ngIf="rForm.controls['lastPassword'].errors.required"> &uarr; Ce champ est obligatoire</div>
      </div>
      <mat-form-field class="p-5 block">
          <input formControlName="password" matInput type="password" placeholder="Nouveau mot de passe" required>
      </mat-form-field>
      <div class="text-red relative top--15px text-right" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          <div *ngIf="rForm.controls['password'].errors.required"> &uarr; Ce champ est obligatoire</div>
          <div *ngIf="rForm.controls['password'].errors.minlength">Au moins 6 carractères</div>                        
      </div>
      <mat-form-field class="p-5 block">
          <input formControlName="verifPassword" matInput type="password" placeholder="Vérification nouveau mot de passe" required>
      </mat-form-field>
      <div class="text-red relative top--15px text-right" *ngIf="!rForm.controls['verifPassword'].valid && rForm.controls['verifPassword'].touched">
          <div *ngIf="rForm.controls['verifPassword'].errors.required"> &uarr; Ce champ est obligatoire</div>
      </div>
      <div class="text-red relative top--15px text-right" *ngIf="rForm.controls['password'].touched && rForm.controls['verifPassword'].touched">
          <div *ngIf="(rForm.controls['password'].value !== rForm.controls['verifPassword'].value)">Les deux mots de passes sont différents</div>
      </div>
      <div>
        <button class="m-10" [disabled]="!rForm.valid || (rForm.controls['password'].value !== rForm.controls['verifPassword'].value)" mat-raised-button color="accent" (click)="modifProfil('password')">Modifier</button>
        <button class="m-10" mat-raised-button color="primary" (click)="closeDialog()">Annuler</button>    
      </div>
    </form>