<div class="text-center p-20 back-white" *ngIf="db">
  <h3 *ngIf="text.title">{{ text.title }}</h3>
  <p *ngIf="text.subtitle">{{ text.subtitle }}</p>
  <button class="m-10" mat-raised-button color="primary" (click)="accept()">{{ db.yes[lang] }}</button>
  <button class="m-10" mat-raised-button color="accent"(click)="refuse()">{{ db.no[lang] }}</button>
</div>
