<div class="text-center">
  <h3 *ngIf="contenu.title">{{ contenu.title}}</h3>
  <p *ngIf="contenu.text">{{ contenu.text}}</p>
  <button mat-raised-button color="primary" (click)="closeDialog()">OK</button>
</div>
