.p-25 {
    padding: 25px
}

p {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 2em
}

#about {
    background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/219729/54_eislmz.jpg');
    background-size: cover;
    padding: 50px
}

.about {
    display: inline-block;
    padding: 25px;
    position: relative;
    z-index: 2
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card1 {
    background-color: rgba(218, 218, 218, 0.945);
    margin: -25px;
    z-index: -3;
    transform: rotate(1deg)
}

.card2 {
    background-color: rgba(255, 255, 255, 0.945);
    margin: -25px;
    z-index: -3;
    transform: rotate(-1deg)
}

@media screen and (max-width: 640px) {
    #about {
        padding: 15px
    }
}