<div id="about" class="p-25">
    <div class="about">
        <div class="card1 card"></div>
        <div class="card2 card"></div>
        <h1 class="text-center">
            <fa [name]="'leaf'"></fa>A propos</h1>
        <p>
            Notre concept est simple, mais original. Il s'agirait de mettre en colocation les personnes qui partagent les même centres d'intérêts communs, ( activités ensemble, exemples: réviser, aller au ciné, prendre l'apéro ensemble etc... ou tout simplement ,
            vivre en colocation, chacun son espace, en partageant juste l'essentiel des tâches à effectuer au sein d'une colocation, mais aussi, nous proposerions, aux utilisateurs, de matcher leurs intérêts communs, avant même de chercher ensemble l'appartement
            idéal pour la bande de colocataires, de se rencontrer bien entendu! en générale les groupes de colocation sont souvent de bon potes qui se mettent à chercher soit un appartement, soit une colocation entre autres! Pour ceux et celles qui souhaitent
            tout simplement louer un appartement seul ,ou un studio, nous y avons pensé, et nous le proposerions également, entre autres, des fonctionnalités auxquelles, nous y avons pensé et imaginé depuis des mois, afin de faciliter la vie de tout le
            monde, étudiants, salariés, de tous âges, mais aussi toute les catégories existantes au sein de la société.
        </p>
        <p>
            Les propriétaires qui souhaitent louer leur appartement, soit en mode classique, soit en colocation, soit journalier , pourront également rejoindre notre site, ou notre application , et de ce fait publier leur annonce.
        </p>
    </div>
</div>

<app-footer></app-footer>