form{
    margin-top: 30px;
    .input{
        display: block;
        margin: auto;
        width: 400px;
        padding: 15px;
        border: 0px;        
        border-bottom: 1px solid darkgrey;
        text-align: left;
    }
    textarea{
        margin: 10px;
        width: 400px;
        padding: 15px;
        resize: none;
        height: 80px;
        border-radius: 15px;
    }

}
.flex{
    display: flex;
    align-items: center;
    object-position: center;
    mat-card-content{
        width: 100%;
    }

}
.plus{
    font-size: 2.5em;
    font-weight: small;
}
.pics-pub{
    max-width: 500px;
    overflow-x: scroll;
    display: flex;
    mat-card{
        margin: 10px !important;
    }
}
.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
}
mat-card-content{
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// -----------------------------dialog scrollbar
::ng-deep .mat-dialog-container::-webkit-scrollbar{
    width: 3px ;
    border-radius: 2px; 
    
}
::ng-deep .mat-dialog-container::-webkit-scrollbar-thumb {
    background-color: rgb(148, 147, 147) ;
    // outline: 1px solid slategrey !important;
}
::ng-deep .mat-dialog-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(114, 113, 113) ;
    // outline: 1px solid rgb(79, 115, 151) !important;
}
::ng-deep .mat-dialog-container::-webkit-scrollbar:hover{
    width: 5px ;
}
::ng-deep .mat-dialog-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::ng-deep .mat-dialog-container{
    overflow-y: scroll; 
}

// ------------------------------
