<div class="flex-around text-center back-white p-20 relative">
    <button mat-icon-button class="closeBtn" (click)="dialogRef.close()">
        <mat-icon>clear</mat-icon>
    </button>
    <h2 class="text-normal m-10">{{ dbLang.post[lang] | titlecase }}</h2>
    <form [formGroup]="annonce" (ngSubmit)="logForm()">

            <div class=" p-5 ">
                    <input class="input text-1em" formControlName="address_annonce" matInput type="text" placeholder="Place" required>
            </div>
            <div class=" p-5 ">
                    <input class="input text-1em" formControlName="price_annonce" matInput type="number" placeholder="{{ dbLang.price[lang] | titlecase }}" required>
            </div>
            <div class=" p-5">
                <mat-select class="input" formControlName="type_annonce"  placeholder="Type" required>
                    <mat-option value="location">{{ dbLang.location[lang] }}</mat-option>
                    <mat-option value="colocation">{{ dbLang.colocation[lang] }}</mat-option>
                </mat-select>
            </div>
            <div>
                <textarea autosize formControlName="description_annonce" placeholder="Description"></textarea>
            </div>
            <p>
                {{ dbLang.add_pic[lang] | titlecase }}
            </p>
            <div class="pics-pub ">

                <mat-card class="inline-block w-150px h-150px p-0 flex m-auto" *ngFor="let pic of pics; trackByFn">
                        <mat-card-content>
                            <fa class="plus" [name]="'camera'"></fa>
                            <img [src]="pic.preview" alt="" class="absolute width-100 height-100 top left">
                            <!--  an hidden input type file -->                            
                            <input (change)="fileChange($event, pic)" class="input-file absolute width-100 height-100 top left opacity-0 pointer" type="file">
                            <!-- ==================== -->
                        </mat-card-content>
                </mat-card>
                <mat-card class="inline-block w-150px h-150px p-0 flex m-auto">
                        <mat-card-content>
                            <fa class="plus" [name]="'camera'"></fa>
                            <img [src]="" alt="" class="absolute width-100 height-100 top left">
                            <!--  an hidden input type file -->                            
                            <input (change)="fileChange($event, pic)" class="input-file absolute width-100 height-100 top left opacity-0 pointer" type="file">
                            <!-- ==================== -->
                        </mat-card-content>
                </mat-card>
            </div>
            <button *ngIf="!saving" type="submit" [disabled]="!annonce.controls['address_annonce'].valid ||!annonce.controls['type_annonce'].valid || !annonce.controls['price_annonce'].valid"  mat-raised-button id="publier" class="text-white m-10" color="primary">{{ dbLang.post[lang] | titlecase }}</button>
            <button *ngIf="saving"  mat-raised-button class="text-white m-10" color="primary">{{ lang==='FR' ? 'Enregistrement en cours...' : 'Saving...'}}</button>
        </form>
        

</div>