#parallax {
    width: 100%;
    background-size: cover;
    background-image: url('/assets/img/bg.png');
}

.first-card {
    background-color: #d8d8d8;
    transform: rotate(1deg)
}

.second-card {
    background-color: white;
    transform: rotate(-1deg)
}

.card-style {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 0;
}

h2 {
    z-index: 888;
    position: relative;
}

form {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 25px;
    margin: 50px;
    margin-top: 125px
}

@media screen and (max-width: 644px) {
    form {
        margin: 50px 0;
        padding: 5px;
    }
    .card-style {
        width: 100%;
        height: 100%;
    }
}