<div class="fluid-container" *ngIf="db">
    <div id="parallax" class="d-flex align-items-center">
        <div class="container text-center">
            <form class="position-relative" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                <div class="card-style first-card position-absolute"></div>
                <div class="card-style second-card position-absolute"></div>
                <div class="p-md-2">
                    <h2>Inscription</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="firstName" type="text" matInput placeholder="{{db.name[lang]}}" required>
                                        <mat-error *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">
                                            <span *ngIf="rForm.controls['firstName'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['firstName'].errors.pattern">{{db.invalid[lang]}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="lastName" type="text" matInput placeholder="{{ db.lastName[lang] }}" required>
                                        <mat-error *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">
                                            <span *ngIf="rForm.controls['lastName'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['lastName'].errors.pattern">{{db.invalid[lang]}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="date_birth" type="date" matInput placeholder="birthday {{lang === 'Fr'? 'JJ/MM/AAAA' : 'DD/MM/YYYY'}}">
                                        <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
                                        <!-- <mat-datepicker #picker></mat-datepicker> -->
                                        <mat-error *ngIf="!rForm.controls['date_birth'].valid && rForm.controls['date_birth'].touched">
                                            <span *ngIf="rForm.controls['date_birth'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <mat-select class="input" formControlName="sexe" placeholder="{{ lang === 'FR' ? 'H/F' : 'M/W'}}" required>
                                            <mat-option value="homme">{{ lang === 'FR' ? 'Homme': 'Man' }}</mat-option>
                                            <mat-option value="femme">{{ lang === 'FR' ? 'Femme' : 'Women' }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="!rForm.controls['sexe'].valid && rForm.controls['sexe'].touched">
                                            <span *ngIf="rForm.controls['sexe'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="phone" type="text" matInput placeholder="{{ lang === 'FR' ? 'Numéro téléphone' : 'Phone'}}" required>
                                        <mat-error *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">
                                            <span *ngIf="rForm.controls['phone'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['phone'].errors.pattern">{{ db.invalid[lang]}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="address" type="text" matInput placeholder="{{db.address[lang]}}" required>
                                        <mat-error *ngIf="!rForm.controls['address'].valid && rForm.controls['address'].touched">
                                            <span *ngIf="rForm.controls['address'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="pays" type="text" matInput placeholder="{{db.country[lang]}}" required>
                                        <mat-error *ngIf="!rForm.controls['pays'].valid && rForm.controls['pays'].touched">
                                            <span *ngIf="rForm.controls['pays'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="ville" type="text" matInput placeholder="{{db.city[lang]}}" required>
                                        <mat-error *ngIf="!rForm.controls['ville'].valid && rForm.controls['ville'].touched">
                                            <span *ngIf="rForm.controls['ville'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="mail" type="email" matInput placeholder="{{db.email[lang]}}" required>
                                        <mat-error *ngIf="!rForm.controls['mail'].valid && rForm.controls['mail'].touched">
                                            <span *ngIf="rForm.controls['mail'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['mail'].errors.email">{{db.invalid[lang]}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="username" type="text" matInput placeholder="Pseudo" required>
                                        <mat-hint align="end">{{rForm.controls['username'].value?.length || 0}}/100</mat-hint>
                                        <mat-error *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">
                                            <span *ngIf="rForm.controls['username'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['username'].errors.pattern">{{db.invalid[lang]}}</span>
                                            <span *ngIf="rForm.controls['username'].errors.minlength">{{ lang === 'FR'? 'Au moins 4 carractères' : 'More than 4 characters'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input type="password" formControlName="password" matInput placeholder="{{db.password[lang]}}" required>
                                        <mat-hint align="end">{{rForm.controls['password'].value?.length || 0}}/100</mat-hint>
                                        <mat-error *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
                                            <span *ngIf="rForm.controls['password'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                            <span *ngIf="rForm.controls['password'].errors.minlength">{{ lang === 'FR'? 'Au moins 6 carractères' : 'More than 6 characters'}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-sm-75 w-md-80 m-2">
                                        <input formControlName="passwordConfirm" type="password" matInput placeholder="{{lang === 'FR' ?'Confirmer mot de pass': 'Confirm password'}}" required>
                                        <mat-error *ngIf="!rForm.controls['passwordConfirm'].valid && rForm.controls['passwordConfirm'].touched">
                                            <span *ngIf="rForm.controls['passwordConfirm'].errors.required">{{lang === 'FR' ? 'Ce champ est obligatoire': 'required'}}</span>
                                        </mat-error>
                                        <mat-error *ngIf="rForm.controls['passwordConfirm'].touched">
                                            <span *ngIf="(rForm.controls['password'].value !== rForm.controls['passwordConfirm'].value)">{{ db.invalid[lang] }}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <mat-checkbox formControlName="terms">{{ lang === 'FR' ?'J\'accepte les termes et les conditions.': 'I agree with terms and conditions' }}</mat-checkbox>
                                    <!-- <div class="text-red" *ngIf="!rForm.valid">Veuillez remplir le formulaire correctement !</div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button [disabled]="!rForm.valid" type="submit" mat-raised-button color='accent'>{{db.finish[lang]}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>