.m-auto{ margin: auto; }
.m-0{ margin: 0;}
.m-5px{ margin: 5px;}
.m-5{ margin: 50px;} //==> à ne pas changer pour éviter des erreurs 
.m-10{ margin: 10px;}
.m-20{ margin: 20px;}
.m-t-5px{margin: 5px;}
.m-t-60{ margin-top: 60px;}
.m-t-80{ margin-top: 80px;}
.m-t-10{ margin-top: 10px;}
.m-b-10{ margin-bottom: 10px !important;}
.m-t-0{ margin-top: 0px;}
.m-l-10px{ margin-left: 10px;}
.m-10-20{ margin: 10px 20px;}
.p-b-5px{ padding-bottom: 5px;}
.p-13-0{ padding: 13px 0;}
.padding-top-60px{ padding-top: 60px;}
.width-60{ width: 60%;min-width: 60%;}
.width-75{ width: 75%;min-width: 75%;}
.width-80{ width: 80%;min-width: 80%;}
.width-100{ width: 100%;min-width: 100%;}
.height-100{ height: 100%;}
.full-height{ height: calc(100% - 108px);}
.w-60p{ width: 60px;}
.w-45px{ width: 45px;}
.w-80p{ width: 80px;}
.w-150px{ width: 150px;}
.h-150px{ height: 150px;}
.w-100px{ width: 100px;}
.w-200px {width: 200px;}
.h-100px{ height: 100px;}
.w-75px{ width: 75px;}
.h-75px {height: 75px;}
.h-60px{ height: 60px;}
.h-200px{ height: 200px;}
.w-50p{ width: 50px;}
.w-50px { width: 50px;}
.w-120{ width: 120px;}
.h-45px{ height: 45px;}
.h-50px{ height: 50px;}
.h-50{ height: 50px !important;}
.h-60px{ height: 60px;}
.h-80px{ height: 80px;}
.square-15p{ width: 15px; height: 15px;}
.p-0{ padding: 0;}
.p-15{ padding: 15px;}
.p-20{ padding: 20px;}
.p-b-0{ padding-bottom: 0;}
.p-10{ padding: 10px;}
.p-5{ padding: 5px !important;}
.p-5px{ padding: 5px !important;}
.p-t-15{ padding-top: 15px;}
.relative{ position: relative;}
.absolute{ position: absolute;}
.fixed{ position: fixed;}
.top{ top: 0px;}
.top-5px{ top: 5px;}
.top-5{ top: 5px;}
.top-10{ top: 10px;}
.top--8{ top:-8px;}
.top-60{ top: 60px;}
.top--40{ top: -40px;}
.top--15px{ top: -15px;}
.top-75px{ top: 75px;}
.right-10px{ right: 10px;}
.bottom-10{ bottom: 10px;}
.left-10{ left: 10px;}
.left{ left: 0px;}
.right{ right: 0px;}
.right-10px{ right: 10px;}
.bottom{ bottom: 0px;}
.z-i-2{ z-index: 2;}
.z-i-3{ z-index: 3;}
.rot-135{ transform: rotate(-45deg);}
.text-4em { font-size: 4em;}
.text-2em { font-size: 2em;}
.text-1-5-em{ font-size: 1.5em;}
.text-1-em{ font-size: 1em;}
.text-1-3-em{ font-size: 1.3em;}
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.text-normal{ font-weight: normal;}
.text-silver{ color: rgb(134, 132, 132)};
.text-pink{ color: #E91E63;}
.text-blue{ color: #3f51b5;}
.back-blue{ background-color: #028bff;}
.back-primary{ background-color: #3f51b5;}
.back-white{ background-color: white;}
.back-red{ background-color: red;}
.back-none{ background-color: transparent;}
.back-green{ background-color: #51c34a;}
.rounded-border{ border-radius: 50%;}
.border-bottom-2px-gray{ border-bottom: 2px solid darkgray;}
.inline-block{ display: inline-block;}
.display-block{ display: block;}
.flex{ display: flex;}
.item-center { align-items: center;}
.align-top{ vertical-align: top;}
.align-middle{ vertical-align: middle;}
.box-shadow-none{ box-shadow: none !important;}
.border-none{ border: none !important;}
.opacity-0{ opacity: 0;}
.opacity-0-7{ opacity: 0.7;}
.pointer{ cursor: pointer;}
.overflow-hidden{ overflow: hidden !important;}
.hidden{
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

//======*****=======******======
//
.form_search{
    margin-bottom: 10px !important;
    box-shadow: 1px 2px 4px 1px #8080801f;
    height: 90px;
    width: 540px !important;
}
.publication-icon{
    background-color: #2196f2 !important;
    top: 200px;
    opacity: 0.5;
    z-index: 10;
}
.publication-icon:hover{
    opacity: 1;
    transform: scale(1.2)
}
.modif-button{
    right: 10px;
    cursor: pointer;
    border: 0;
    color: #404040;
    background: transparent;
}
.text-shadow{
    text-shadow: 1px 1px #000000ad;
}
//----------------loading style
.loading{
    div{
        width: 60px;
        margin:auto;
    }
}
#loading{
    transform: rotate(-90deg);
    margin-left: 16px;
    text-align: left;
    opacity: 0.5;
}
//______________________________
// -----------------------------dialog scrollbar
.mat-dialog-container::-webkit-scrollbar{
    width: 3px !important;
}
.mat-dialog-container::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}
.mat-dialog-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

// ------------------------------
.feed-body{
    background: #f4f7f6;
    margin-top: 60px;
    padding-top: 10px;
    min-height: calc(100% - 60px) !important;
    position: absolute;
}
.chip{
    background-color: #028bff;
    border-radius: 20px;
    color: white;
}
.price{
    margin: 0px auto 10px;      
}
.locations{
    margin-bottom: 10px;
    border-bottom: 2px solid #f4f7f6;
    padding-bottom: 3px;
}
.typeContent{
    opacity: 0;
    border: 60px solid #E91E63;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 240px !important;
    background: transparent;
    height: 240px !important;
    left: -130px;
    top: -75px;
}
.type-loc-hidden{
    height: 0;
    padding: 0;
    overflow: hidden;
}
.typeLoc{
    top: 85px;
    left: -4px;
    font-size: 1.3em;
    width: 130px;
    opacity: 0;
    height: 40px;
}
.row{
    max-width: 1125px;
    margin: auto;
}
mat-card-content{
    width: 400px;
    height: 275px;
    margin-bottom: -10px;

    img{
        height: 100% !important;
        width: 100% !important;
    }
}
.publication-container.location{
    mat-card-header{
        background:rgb(33, 150, 243); 
        
        div{
            background:rgb(33, 150, 243);                
        }
    }
}
.publication-container.colocation{
    mat-card-header{
        background:deepskyblue;
        
        div{
            background:deepskyblue;
        }
    }
}
.publication-container{
    background: #fcfcfc;
    box-shadow: 0 0 !important;
    padding-bottom: 25px;
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 500px;


    .flex{
        display: block;
    }
    mat-card-header{
        height: 45px;
        overflow: hidden;
        padding-left: 0;
        margin-bottom: 24px;        
        color: white;
        div{
            left: calc(50% - 75px);   
            margin: 0;         
            height: 45px;
            top: -61px;
            background: white;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-position: center;
            align-items: center;
            text-align: center;

            h4{
                margin-top: 66px;
                margin-bottom: 0;
                font-size: 20px;
                
            }
        }
    }
}
.commentaire{
    margin-left: calc(24% - 15px);
    margin-top: -10px;
    max-height: 420px;
    height: auto;
    .commentaires{
        overflow-y: scroll;
        max-height: 340px;
    }
    //commentaires scroll bar style ==========
    .commentaires::-webkit-scrollbar{
        width: 3px;
    }
     
    .commentaires::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    .commentaires::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    //==============
    .commentaire-container{
        margin-top: 8px;
    
    }
    .comment-text{
        width: calc(100% - 70px);
        padding-right: 10px;
        word-wrap: break-word;
    }
    .comment-input{
        width: 100%;
        background: white;
        height: 60px; 
        max-height: 244px; 
        textarea{
            width: calc(100% - 100px);
            margin: auto;
            margin-left: 20px;
            height: calc(100% - 20px);
            border-radius: 25px;
            resize: none;
            margin-top: 12px;
            font-size: 1.2em;
            overflow: hidden;
            padding: 5px 20px;
            font-family: 'Roboto';
        }
        fa{
            transform: rotate(55deg);
            margin-top: 15px;
            cursor: pointer;     
        }
    }
    mat-divider{
        margin: 8px;
        width: calc(100% - 16px);
        position: relative !important;
    }
}
.proprio-card{
    width: calc(25% - 30px);
    display: inline-block;
    margin: 10px 0; 
    padding: 10px;   
    vertical-align: top;
}
.pub-container{
    width: calc(25%);
    font-size: 0.8em;
    
    mat-card-title{
        font-size: 1.1em;            
    }  
    mat-card{
       height: auto;
    }

}
.pow-nb{
    top: 5px;
    /* width: 30px; */
    font-size: 1.1em;
    /* background: red; */
    border-radius: 50%;
    height: 30px;
}

// responsive design

@media screen and (max-width: 975px) {
    .proprio-card{
        width: 0;
        padding: 0;
        overflow: hidden;
        padding: 0;     
    }
    .publication-container{
        margin: auto;

        .flex{
            display: block;
        }
        mat-card-header{
            height: 45px;
            overflow: hidden;
            padding-left: 0;  
            
            div{
                height: 45px;
                top: -61px;
                background: white;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-position: center;
                align-items: center;
                text-align: center;

                h4{
                    margin-top: 66px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .pub-container{
        width: calc(35% - 50px);
        right: 20px;

    }
}
@media screen and (max-width: 780px) {
    .pub-container{
        width: 0;
        overflow: hidden;

    }
    .publication-container{
        .flex{
            display: flex;
        }
    }
    .proprio-card{
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        padding: 0;     
    }
}
@media screen and (max-width: 600px) {
    .publication-container{
        margin: auto;
    }
    .typeContent{
        opacity: 0;
        z-index: 0;        
    }
    .typeLoc{
        opacity:0;
        z-index: 0;
    }
    .type-loc-hidden{
        height: auto;
        padding: 10px;
    }
}
.reactions .col-3, .reactions .col-4, .reactions .col-2{
    display: flex;
    align-items: center;
}
.reactions a{
    width: 25px;
    margin: auto;
}
.reactions .label{
    margin-left: 10px;
}
.label-like{
    color: #e91e63;
}
.label-comment{
    color: #4e5fbb;
}
.label-follow{
    color: #ff5454;
}
@media (max-width: 599px) {
    .mat-card-header {
        margin: 0;
        margin-bottom: 24px;
    }
}


.mat-dialog-container{
    background-color: white !important;
}
mat-dialog-container{
    padding: 0 !important;
}

.modif-button-container{
    background: white;
    box-shadow: 5px 2px 6px 5px #70809047;
    border-radius: 2px;
    padding: 5px;
    top: 35px;
    right: 21px;
    transform: scale(0);

    button{
        display: block;

        i{
            margin-right: 5px;
        }
    }
}

.modif-button:focus-within + .anim-scale{
    transform: scale(1);
    transform-origin: right top;
    transition: .3s ease;
}
.anim-scale:hover{
    transform: scale(1);
}

.chat_icon{
    position: relative;
    top: -36px;
    font-size: 30px;
    background: #dadada;
    margin: auto;
    display: block;
    width: 45px;
    height: 45px;
    color: white;
    margin-bottom: -45px;
    
    i{
        position: relative;
        top: -4px;
    }
}