<div class="absolute flex item-center width-100 height-100 z-i-3 back-white" *ngIf="!annonce || !user._id || !showPage">
    <div class="loading width-100 text-center">
        <div>
            <p id="loading" class="text-2em" (load)="loadingAnimation()">...</p>
        </div>
        <fa [name]="'home'" class="text-4em relative top--40 opacity-0-7"></fa>
        <p class="relative top--40" *ngIf="db">{{ db.loading[lang] }}</p>
    </div>
</div>

<div class="width-100 relative feed-body" *ngIf="db && annonce && user._id && showPage && users">
    <a matBadge="11" *ngIf="user._id" mat-fab class="fixed right-10px text-1-3-em publication-icon" color="accent" (click)="openDialogPublication()" matTooltip="{{ db.post[lang] }}">
        <fa [name]="'bullhorn'" ></fa>
    </a>


        <!-- search -->


        <!-- <div class="search">
            <form class="form_search mt-3 p-3">
                    <mat-form-field class="mr-4 m-b-10">
                        <input matInput type="number" placeholder="prix €" #input_price (input)="filterAnnonce(input_price.value, form_select_type.value)">
                    </mat-form-field>
                    <mat-form-field class="mr-4">
                        <mat-select placeholder="Type" #form_select_type (change)="filterAnnonce(input_price.value, form_select_type.value)">
                            <mat-option value="location">Location</mat-option>
                            <mat-option value="colocation">Colocation</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary"><fa [name]="'search'" class="mr-2"></fa></button>
                </form>
            </div> -->


        <!-- search -->
        <div class="container-fluid width-100 m-auto">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto m-b-10"  *ngFor="let trano of annonce; trackBy: trackByFn">
                    <mat-card class="publication-container {{trano.type_annonce.toLowerCase()}}">
                        <!-- <mat-card-header>
                            <div class="m-10 m-t-0 absolute">
                                <h4 class="text-normal ">{{ trano.user.firstName }}</h4>
                                <img src="{{trano.user.pic_prof[0]}}" alt="" class="rounded-border w-45px h-45px" (click)="goToUserProfil(trano._id_user )" matTooltip="voir profil">
                            </div>
                        </mat-card-header> -->
                        <mat-card-content>
                            <img mat-card-image src="{{ trano.pic_annonce[0] }}" alt="romPics">
                            <!-- <img mat-card-image src="{{}}" alt="romPics"> -->
                        </mat-card-content>
                        <button mat-icon-button class="chat_icon" *ngIf="trano._id_user !== user._id" (click)="goToChat(trano._id_user)"><i class="fa fa-comment"></i></button>  
                        <!-- <div class="text-right flex">
                        </div> -->
            
                        <!-- elements in position absolute -->
                        <p class="text-center absolute top-10 z-i-3 publication-date"> {{ trano.date_share_annonce }}</p>
                        <button *ngIf="user._id && user._id  === trano._id_user" class="text-center absolute top-10 right-10px modif-button text-shadow" (click)="toggle_el('m_b_c'+trano._id)"><i class="fa fa-ellipsis-v text-white"></i></button>
                        <div class="text-center absolute modif-button-container anim-scale" id="m_b_c{{trano._id}}" *ngIf="user._id && user._id  === trano._id_user">
                            <button *ngIf="user._id && user._id === trano._id_user" class="modif-button" (click)="openModifAnnonce(trano._id)"><i class="fa fa-edit"></i>{{db.edit[lang]}}</button>
                            <button *ngIf="user._id && user._id === trano._id_user" class="modif-button" (click)="delete_publication(trano._id)"><i class="fa fa-trash"></i>{{ db.delete[lang] }}</button>
                        </div>
                        <!-- <div class="absolute rot-135 typeContent"></div>
            
                        <div class="text-white text-center absolute rot-135 typeLoc" hidden>
                            {{ trano.type_annonce }}
                        </div> -->
                        <mat-card-footer class="relative z-i-2">
                            <div class="text-center row">
                                <div class="col-6">
                                    <p class="p-5 w-120 text-center price chip">{{ db[trano.type_annonce][lang] }}</p>
                                </div>
                                <div class="col-6">
                                    <p class="p-5 w-120 text-center price chip">{{ trano.price_annonce }} &euro;</p>       
                                </div>
                                <div class="col-12 text-center locations">
                                        <mat-icon class="text-red relative top-5">place</mat-icon>
                                        {{ trano.address_annonce }}
                                </div>
                            </div>
            
                            <!--icons-->
                            <!-- like or unlike -->
                            <div class="container">
                                <div class="row reactions">
                                    <div class="col-3">
                                        <a mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-pink relative" (click)="reaction(trano._id_user, 'like', trano._id)">
                                            <fa [name]="'thumbs-o-up'" class="text-1-5-em" *ngIf="isLike(trano.reaction_annonce.like)"></fa>
                                            <fa [name]="'thumbs-up'" class="text-1-5-em" *ngIf="!isLike(trano.reaction_annonce.like)"></fa>                                
                                            <sup *ngIf="trano.reaction_annonce.like.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.like.length }}</sup>
                                        </a>
                                        <div class="label label-like">
                                            <!-- J'aime -->
                                        </div>
            
                                    </div>
                                    <div class="col-4">
                                        <!-- comment -->
                                        <a mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-blue" (click)="openComment(trano)">
                                            <fa [name]="'comment-o'" class="text-1-5-em"></fa>
                                            <sup *ngIf="trano.reaction_annonce.comment.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.comment.length }}</sup>
                                        </a>
                                        <div class="label label-comment">
                                            <!-- Commentaire -->
                                        </div>
            
                                    </div>
                                    <div class="col-3">
            
                                        <!-- follow or unfollow -->
                                        <a mat-mini-fab class="box-shadow-none border-none  m-10 back-none text-red relative" (click)="reaction(trano._id_user, 'follow', trano._id)">
                                            <fa [name]="'heart-o'" class="text-1-5-em" *ngIf="isLike(trano.reaction_annonce.follow)"></fa>
                                            <fa [name]="'heart'" class="text-1-5-em" *ngIf="!isLike(trano.reaction_annonce.follow)"></fa>                                
                                            <sup *ngIf="trano.reaction_annonce.follow.length > 0" class="absolute pow-nb">{{ trano.reaction_annonce.follow.length }}</sup>
                                        </a>
                                        
                                        <div class="label label-follow">
                                            <!-- Suivre -->
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <a *ngIf="false" mat-mini-fab class="box-shadow-none border-none back-none text-pink m-10" matTooltip="rate" (click)="reaction(trano._id_user, 'rate', trano._id)">
                                            <fa [name]="'star'" class="text-1-5-em"></fa>
                                        </a>
                                        <a mat-mini-fab class="box-shadow-none absolute back-none text-silver" matTooltip="{{ db.more[lang] }}" (click)="showPic(trano)">
                                            <fa [name]="'plus'" class="text-1-5-em"></fa>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            
            
                        </mat-card-footer>
            
            
                    </mat-card>
                <!-- commentaire sur la publication -->
                <mat-card class="commentaire p-b-5px publication-container hidden" id="comment{{trano._id}}">
                        <!-- it's important to write the "hidden" in attribut class to avoid disfunctionnement -->
                        <!-- adjust width with publication-cotainer with this class -->
                        <div #commentaireComponent class="commentaires" id="commentaires{{trano._id}}">
                            <!-- <div class="commentaire-container" *ngFor="let comment of trano.reaction_annonce.comment">
                                <img *ngIf="findUser(comment._id_user )" src="{{findUser(comment._id_user ).pic_prof[0]}}" alt="" class="rounded-border w-45px h-45px  inline-block m-t-10">
                                <p class='comment-text inline-block m-l-10px align-top p-t-15'>
                                    {{ comment.comment_user }}
                                </p>
                                <mat-divider></mat-divider>
                            </div> -->
                        </div>
            
            
                        <!-- div pour combler le vide derriere comment-input-->
                        <div class="comment-input" #commentInputClone></div>
                        <!--*******-->
            
                        <div class="comment-input absolute left bottom" #textareaContainer>
                            <textarea #textarea (input)="resizeTextarea(textarea, textareaContainer, commentInputClone, trano._id)" name="" id="" cols="30" rows="10" placeholder="Commenter" class="inline-block align-top"></textarea>
                            <fa [name]="'paper-plane'" class="text-blue inline-block align-top text-1-5-em" (click)="addComment([textarea, textareaContainer, commentInputClone, trano._id],textarea,commentaireComponent, trano._id)"></fa>
                        </div>
            
            
                    </mat-card>
                </div>
        </div>
        <!-- <mat-card class="w-20 text-center  proprio-card ">
            <h3 class="text-normal m-0 text-1-5-em">Propriétaire</h3>
            <img matTooltip="voir profil" src="{{trano.user.pic_prof[0]}}" alt="" class="rounded-border w-60p h-60px m-20" (click)="goToUserProfil(trano._id_user )">
            <mat-card-title>
                {{ trano.user.firstName }}
            </mat-card-title>
            <mat-card-content class="text-1-3-em text-center">
                <p> {{ trano.user.sexe }}</p>
                 <p> Age : {{ calculeAge(user.date_birth) }} ans</p>
            </mat-card-content>
            <a mat-fab class="m-10-20 back-green">
                <fa [name]="'phone'" class="text-1-5-em"></fa>
            </a>
            <a mat-fab color="primary" class="m-10-20">
                <fa [name]="'comment'" class="text-1-5-em" (click)="goToChat(trano._id_user )"></fa>
            </a>
        </mat-card> -->

        


    </div>

    <app-footer></app-footer>
</div>
