.back-header{
    width: 400px;
    height: 300px;
    background: #65b9ff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    top: -195px;
    left: -25px;
    margin-bottom: -270px;
}
img{
    height: 125px;
    width: 125px;
}
.camera-icon{
    top: -124px;
    right: -43px;
    font-size: 1.5em;
}

mat-form-field{
    display: block;
    height: 57px !important;
}
form{
    padding-bottom: 10px;
}
input{
    color: black !important;
}