<div class="back-header">

</div>
<img [src]="pic.preview" alt="userProfil" class="rounded-border imgUser m-auto relative display-block" >
<div class="w-50px relative m-auto text-center camera-icon">
    <input matTooltip="Changer photo" (change)="fileChange($event)"type="file" class="absolute w-50px h-50px pointer opacity-0 top--15px">
    <fa [name]="'camera'"  class="pointer" (click)="openModifProfil('pic')"></fa>
</div>

<form class="position-relative" [formGroup]="rForm" (ngSubmit)="modif(rForm.value, elem)">

    <mat-form-field class="w-sm-75 w-md-80 m-2">
        <input formControlName="firstName" type="text" matInput placeholder="{{db.name[lang]}}" required value="{{ user.firstName }}">
        <mat-error *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">
            <span *ngIf="rForm.controls['firstName'].errors.pattern">{{db.invalid[lang]}}</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-sm-75 w-md-80 m-2">
        <input formControlName="lastName" type="text" matInput placeholder="{{ db.lastName[lang] }}" required value="{{ user.lastName }}">
        <mat-error *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">
            <span *ngIf="rForm.controls['lastName'].errors.pattern">{{db.invalid[lang]}}</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-sm-75 w-md-80 m-2">
        <input formControlName="phone" type="text" matInput placeholder="{{ lang === 'FR' ? 'Numéro téléphone' : 'Phone'}}" required value="{{ user.phone }}">
        <mat-error *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">
            <span *ngIf="rForm.controls['phone'].errors.pattern">{{ db.invalid[lang]}}</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-sm-75 w-md-80 m-2">
        <input formControlName="address_user" type="text" matInput placeholder="{{db.address[lang]}}" required value="{{ user.address_user }}">
        <mat-error *ngIf="!rForm.controls['address_user'].valid && rForm.controls['address_user'].touched">
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-sm-75 w-md-80 m-2">
        <input formControlName="mail" type="email" matInput placeholder="{{db.email[lang]}}" required value="{{ user.mail }}">
        <mat-error *ngIf="!rForm.controls['mail'].valid && rForm.controls['mail'].touched">
            <span *ngIf="rForm.controls['mail'].errors.email">{{db.invalid[lang]}}</span>
        </mat-error>
    </mat-form-field>
  
    
    <div class="row">
        <div class="col-md-12 text-center">
            <button [disabled]="!rForm.valid" type="submit" mat-raised-button color='accent'>{{db.finish[lang]}}</button>
        </div>
    </div>
 
</form>

