<form [formGroup]="rForm" class="text-center flex-container-inner">
  <h3>{{ lang === 'FR' ? 'Apporter des modifications' : 'Make changes' }}</h3>
  <mat-form-field class="p-5">
      <input formControlName="price" matInput type="number" placeholder="{{ db.price[lang] }}" required>
  </mat-form-field>
  <mat-form-field class="p-5">
      <mat-select formControlName="type" placeholder="Type" required>
          <mat-option value="location">{{db.location[lang] | titlecase}}</mat-option>
          <mat-option value="colocation">{{ db.colocation[lang] | titlecase }}</mat-option>
      </mat-select>
  </mat-form-field>
  <div>
    <button class="m-10" [disabled]="!rForm.valid" mat-raised-button color="accent" (click)="modifAnnonce(rForm.value)">{{lang === 'FR' ? 'Modifier': 'Change'}}</button>
    <button class="m-10" mat-raised-button color="primary" (click)="closeDialog()">{{ lang === 'FR' ? 'Annuler': 'Back'}}</button>    
  </div>
</form>