<div class="container" *ngIf="dbLang">
    <div class="card-rotate card-body"></div>
    <div class="card2-rotate card-body"></div>
    <mat-card class="body text-center">
        <mat-card-title>
            <h2 *ngIf="showText">{{ dbLang.__text.login_to_continue[lang] | titlecase }}</h2>
            <h2 *ngIf="!showText">{{ dbLang.__text.need_login[lang] | titlecase }}</h2>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input #username type="text" matInput placeholder="Pseudo" required />
            </mat-form-field>
            <br>
            <mat-form-field>
                <input #password type="password" matInput placeholder="{{dbLang.password[lang] | titlecase}}" required/>
            </mat-form-field>
            <br>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-red" *ngIf="!checkLog">{{ dbLang.identifiant[lang] }} {{ dbLang.or[lang] }} {{ dbLang.password[lang] }} {{ dbLang.invalid[lang] }}</p>
            <button mat-raised-button color='accent' (click)="checkLogin(username.value, password.value)" class="mr-2">{{ dbLang.login[lang] }}</button>
            <button mat-raised-button color='primary' *ngIf="showText" routerLink="inscription" (click)="closeInscription()">
                <span *ngIf="!loading">{{ dbLang.register[lang] }}</span>
                <span *ngIf="loading">{{ dbLang.loading[lang] }} 
                    <fa  [name]="'spinner'" class="text-blue inline-block align-top text-1-5-em"></fa>
                </span>
            </button>
            <div *ngIf="showText">
                <hr>
                <h4>{{ dbLang.or[lang] }}</h4>
                <hr>
                <h3>{{ dbLang.register[lang] }} {{ dbLang.with[lang] }}</h3>
                <button mat-fab class='facebook-color mr-2'>
                      <fa [name]="'facebook'" [size]=1></fa>
                    </button>
                <button mat-fab class='twitter-color mr-2'>
                      <fa [name]="'twitter'" [size]=1></fa>
                    </button>
                <button mat-fab class='linkedin-color mr-2'>
                      <fa [name]="'linkedin'" [size]=1></fa>
                    </button>
                <button mat-fab class='googleplus-color'>
                      <fa [name]="'google-plus'" [size]=1></fa>
                    </button>
            </div>
        </mat-card-footer>
    </mat-card>

    <button mat-icon-button class="closeBtn" (click)="closeInscription()">
            <mat-icon>clear</mat-icon>
        </button>
</div>