.container {
    min-width: 250px;
    position: relative;
}

.body {
    z-index: 55;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none
}

.card-body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card2-rotate {
    background-color: white;
    transform: rotate(2deg);
    z-index: 22;
}

.card-rotate {
    background-color: rgb(216, 216, 216);
    transform: rotate(-3deg);
    z-index: 0;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: -10px;
    z-index: 999
}

hr {
    border-color: rgb(255, 255, 255);
    opacity: 0.2;
}

h2 {
    font-weight: 300
}

.w-full {
    width: 100%
}

mat-form-field {
    width: 60%
}

mat-card-footer {
    padding: 25px
}

@media screen and (max-width: 765px) {
    mat-form-field {
        width: 65%
    }
    .body {
        width: 100%;
        padding: 1px 0 0 0;
        h2 {
            font-size: 1.2em
        }
    }
}

::ng-deep .mat-dialog-container {
    background: transparent;
    box-shadow: 0 0;
}

.text-red {
    color: red;
}