<mat-card class="m-10-20 text-center">
    <img src="assets/img/userH.png" alt="" class="rounded-border w-60p">
    <mat-card-title>
        Mr Ratsima :
    </mat-card-title>
    <mat-card-content class="text-1-3-em text-left">
        <p>Une location à Bruxelle, pour 4 personnes avec un loyé au allentour de 750 €.</p>        
    </mat-card-content>
    <a mat-mini-fab class="m-10 back-green" matTooltip="Contactez"><fa [name]="'phone'" class="text-1-5-em"></fa></a>
    <a mat-mini-fab color="primary" matTooltip="Contactez" class="m-10"><fa [name]="'comment'" class="text-1-5-em"></fa></a>
</mat-card>
<mat-card class="m-10-20 text-center">
    <img src="assets/img/userH.png" alt="" class="rounded-border w-60p">
    <mat-card-title>
        Mr Santatra :
    </mat-card-title>
    <mat-card-content class="text-1-3-em text-left">
        <p>Une colocation à Paris, au allentour de 450 €.</p>        
    </mat-card-content>
    <a mat-mini-fab class="m-10 back-green" matTooltip="Contactez"><fa [name]="'phone'" class="text-1-5-em"></fa></a>
    <a mat-mini-fab color="primary" class="m-10" matTooltip="Contactez"><fa [name]="'comment'" class="text-1-5-em"></fa></a>
</mat-card>