<div class="container-fluid" *ngIf="db">
        <div class="name_user">{{trano.user.firstName}}</div>
        <div class="profil_user relative m-b-10">
            <div class="img_content">
                <img src="{{trano.user.pic_prof[0]}}" alt="">
            </div>
            <div class="diviseur"></div>
        </div>
    <mat-card class="publication-container {{trano.type_annonce.toLowerCase()}}">
        <!-- <mat-card-header>
      
        </mat-card-header> -->
        <mat-card-content>
            <!-- <angular-image-slider [images]="trano.pic_annonce"></angular-image-slider> -->
            <!-- <img mat-card-image src="{{ trano.pic_annonce[0] }}" alt="romPics"> -->
            <!-- <img mat-card-image src="{{}}" alt="romPics"> -->

            <!-- <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item img_slide" *ngFor="let pic of trano.pic_annonce">
                        <img class="d-block w-100" src="{{pic}}" alt="First slide">
                    </div>
                </div>
            <a class="carousel-control-prev carousel-control" role="button" href="#carousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" role="button" href="#carousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div> -->
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let pic of trano.pic_annonce" class="img_slide">
                  <img src={{pic}} alt="error_picture_loading" class="h-305px">
                </ng-template>
                
              </ngb-carousel>
        </mat-card-content>
        <!-- <div class="text-right flex">
        </div> -->

        <!-- elements in position absolute -->
        <p class="text-center absolute top-10 z-i-3 publication-date">  {{ trano.date_share_annonce }}</p>
        <!-- <div class="absolute rot-135 typeContent"></div>

        <div class="text-white text-center absolute rot-135 typeLoc" hidden>
            {{ trano.type_annonce }}
        </div> -->
        <mat-card-footer class="relative z-i-2">
            <div class="text-center row">
                <div class="col-12">
                    <i class="fa fa-quote-left"></i> {{ trano.description_annonce }} <i class="fa fa-quote-right"></i>
                </div>
                <div class="col-6">
                    <p class="p-5 w-120 text-center price chip">{{ db[trano.type_annonce][lang] }}</p>
                </div>
                <div class="col-6">
                    <p class="p-5 w-120 text-center price chip">{{ trano.price_annonce }} &euro;</p>       
                </div>
                <div class="col-12 text-center locations">
                        <mat-icon class="text-red relative top-5">place</mat-icon>
                        {{ trano.address_annonce }}
                </div>
            </div>
            <div class="time text-right">
                <i class="fa fa-calendar"></i> {{ getTime(trano.date_insertion)}}
            </div>
        </mat-card-footer>
    </mat-card>
    <button mat-icon-button class="closeBtn" (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
    </button>
</div>