.container-fluid{
    background: white;
    padding: 20px;
    position: relative;

    img{
        width: 400px;
        margin: 20px auto;
        border-radius: 5px;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
    }
}
mat-card-content{
    margin-bottom: 100px !important;
    width: 500px !important;


}
.carousel-item{
    height: 330px !important;

}
.img_slide, .carousel-item{
    height: 330px !important;
}
.name_user{
    font-size: 1.5em;
    text-align: center;
    margin-top: -5px;
}
.profil_user{
    img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;  
    }
 
    .img_content{
        position: relative;
        z-index: 2;
        width: 100px;
        margin: auto;
        background: white;
    }
    .diviseur{
        width: calc(100% - 50px);
        border: 1px solid grey;
        position: absolute;
        top: 20px;
        z-index: 1;
        left: 25px;
    }
}
.time{
    width: calc(100% - 50px)
}
.carousel-control{
    cursor: pointer;
}
.h-305px{
    max-height: 305px !important;
    height: 305px !important;
    min-height: 305px !important;
}