.row{
    max-width: 100% !important;
}
app-messages{
    height: 100%;
    position: absolute;
    width: 100%;

}
.send_icon{
    margin-top: 15px;
    vertical-align: -webkit-baseline-middle;
    font-size: 2em;
    top: -30px;
    position: relative;    
    cursor: pointer;
    transform: rotate(55deg);
    margin-top: 15px;
    margin-left: 10px !important;
    cursor: pointer;    
    color: #028bff !important;
}
.time{
    font-size: 0.8em;
    color: black;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.text_messages:hover + .time{
    opacity: 1;
    height: auto;
    overflow: initial;
}
.container-fluid{
    max-height: calc(100% - 60px) !important;
    height: calc(100% - 60px) !important;
    position: fixed;
    top: 65px;
    height: calc(100% - 60px);
    overflow: hidden !important;
    .row{
        height: 100%;
    }

    .box{
        border-right: 2px solid #e0e0e2a8;
    }
}

.block-head.active{
    z-index: 2;
    background: #028bff;
    width: calc(100% + 41px);
    margin: 0 !important;
    color: white;
    height: 87px;
    position: relative;
    left: -15px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-box-shadow: 1px 1px 1px 1px #c5c3c3;
    box-shadow: 1px 1px 1px 1px #c5c3c3;
    padding-left: 15px;
}
.block-head{
    border-bottom: 1px silver solid;    
    margin: auto;
    padding-top: 10px;
    img{
       width: 50px;
       height: 50px;
       border-radius: 50%;
    }
    .info{
        display: inline-block;
        width: calc(100% - 80px);
        vertical-align: top;
        max-height: 100px;
        overflow: hidden;
        padding: 0 15px 0;

        h4{
            height: 30px;
            overflow: hidden;

        }
        p{
            height: 25px;
            overflow: hidden;
        }
    }
}
.message-content{
    padding-top: 20px;
    background: #f5f4f4;
    overflow-y: scroll;
    padding-bottom: 60px;
    .message{
        margin-bottom: 25px;
    }
}
.message.user{
    text-align: right;
}
.pic_container {
    display: inline-block;
    vertical-align: top;
    
    img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    }
}
.text_messages{
    display: inline-block;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px #80808038;
    white-space: pre-line !important;
}
.textarea-container{
    position: fixed;
    bottom: 0;
    width: 66.66666667%;
    left: 33.3333333%;
    height: 60px;
    background: white;
    textarea{
        width: calc(100% - 100px);
        margin: auto;
        margin-left: 20px;
        height: calc(100% - 20px);
        border-radius: 25px;
        resize: none;
        margin-top: 12px;
        font-size: 1.2em;
        overflow: hidden;
        padding: 5px 20px;
    }

}





#messageContainer, #messageContainerClone{
    display: inline-block;
    padding-top: 60px;
    width: 100%;
    position: relative;
    max-height: calc(100% - 60px) !important;
    min-height: calc(100% - 60px);
    overflow-y: scroll !important;
    overflow-x: hidden;
}
.fixe{
    position: fixed !important;
    top: 60px;
    height: 60px;
    overflow: hidden;
    div{
        margin: auto;
        height: 100%;
        border-bottom: 2px solid gray;
        background: white;
    }
}
.middle{

    textarea{
        width: calc(100% - 100px);
        margin: auto;
        margin-left: 20px;
        height: calc(100% - 20px);
        border-radius: 25px;
        resize: none;
        margin-top: 12px;
        font-size: 1.2em;
        overflow: hidden;
        padding: 5px 20px;
    }

    .message-content{
        vertical-align: top;
        width: calc(50% - 52px);
        overflow-y: hidden;
        height: calc(100% - 95px);  
        box-shadow: 0 0;
    }
    .text-content{
        white-space: pre-line;
    }
    .flex-around {
        justify-content: space-around
    }
    .text-to-send-container{
        position: fixed;
        box-shadow: transparent 0 0;
        padding: 0;
        bottom: 0;
        mat-card-content{
            min-height: 60px;
            height: 60px;
            max-height: 314px;        
        }
    
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .received-message{
        
            p{
                width: 50%;
                max-width: 400px;
                border-radius: 25px;
                padding: 10px 20px;
                margin: 5px;       
                vertical-align: top;
                margin: 5px 5px 10px 0px;
                background: #d6d3d3;
                color: #131212;
                word-wrap: break-word;
                white-space: pre-line;
            }
        }
        .send-message{
            p{
                width: 50%;
                text-align: left;
                padding: 10px 20px;
                margin: 5px;    
                max-width: 400px;        
                border-radius: 25px;
                background: #028bff;
                color: white;
                word-wrap: break-word;
                white-space: pre-line;
            }
        }
}
.left-div{
    overflow-y: scroll;
    padding-right: 0;
    h4{
        font-size: 16px;
        margin: 0;
    }
    .p-13-0{
        display: flex;
        align-items: center;
    }
    sup{
        top: -15px !important;
        left: -13px !important;
    }
}
.left-div, .middle{
    max-height: 100% !important;
    
}
.scrollbar-perso::-webkit-scrollbar{
    width: 3px !important;
}
.scrollbar-perso::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}
.scrollbar-perso::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
@media screen and (max-width: 991px) {
    .col-0{
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
}

@media screen and (max-width: 861px){
    .user-status{
        max-width: 0;
        max-height: 0;
        overflow: hidden;
    }
    .left-div{
        max-width: 60px;
    }
    .middle, .fixe, .text-to-send-container{
        min-width: calc(100% - 60px);
        max-width: calc(100% - 60px);
    }
    .fixe, .text-to-send-container{
        left: 60px;
    }
}
@media screen and (min-width: 862px) {
    .fixe, .text-to-send-container{
        left: 25%;
    }
}
// .chips-line {
//     border: 1px solid;
//     border-color: #03A9F4;
//     color: #03A9F4;
//     border-radius: 25px
// }

// .chips-filled {
//     border: 1px solid;
//     background-color: #4CAF50;
//     color: white;
//     border-radius: 25px
// }

// //
.fake div{
    opacity: 0.7;
    background: #028bff4f;
}
.loading_chat{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}