<div class="absolute flex item-center width-100 height-100 z-i-3 back-white" *ngIf="!chats || !users">
    <div class="loading width-100 text-center">
        <div>
            <p id="loading" class="text-2em" (load)="loadingAnimation()">...</p>
        </div>
        <fa [name]="'home'" class="text-4em relative top--40 opacity-0-7"></fa>
        <p *ngIf="db" class="relative top--40">{{ db.loading[lang] }}</p>
    </div>
</div>
<div class="container-fluid p-0" *ngIf="chats && users && db">
    <div class="row">
        <div class="col-4 box">
            <div *ngFor="let _user of users" [hidden]="!chats[0]">
                <div id="i{{_user._id}}" class="block-head pointer" (click)="change_chat(_user._id)" [hidden]="_user._id === user._id"  *ngIf="messageUser(_user._id) !== db.no_message[lang] || _user._id == _id_user_on_chat">
                    <img src="{{_user.pic_prof[0]}}" alt="">
                    <div class="info">
                        <h4>{{ _user.firstName + ' ' + _user.lastName }}</h4>
                        <p>{{ messageUser(_user._id) | titlecase }}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!chats[0]">
                <div class="block-head pointer">
                    <div class="info">
                        <h4>No message</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-8 message-content" *ngIf="chats[0] && chat_on_views && chat_on_views.messages && !changing_chat" id="messages_content">
            <div *ngFor="let message of chat_on_views.messages; trackBy: trackByFn" class="message {{ message._id_sender === user._id ? 'user' : ''}} {{ message.date_send ? '': 'fake'}}">
                <div class="pic_container" *ngIf="message._id_sender !== user._id">
                    <img src="{{ findUser(message._id_sender).pic_prof[0] }}" alt="">
                </div>
                <div class="text_messages">{{ message.text }}</div>
                <div class="time">{{ getTime(message.date_send) }}</div>
            </div>
            <div class="textarea-container">
                <textarea placeholder="Message" #messageContent1></textarea>
                <i  class="fa fa-send send_icon" (click)="sendMessage(messageContent1)"></i>
            </div>
        </div>
        <div class="col-8 message-content loading_chat" *ngIf="chats[0] && chat_on_views && chat_on_views.messages && changing_chat" id="messages_content">
           <i class="fa fa-spinner"></i> {{ db.loading[lang] }}
        </div>
        <div class="col-8 message-content" *ngIf="!chats[0] || !chat_on_views || !chat_on_views.messages">
            <div class="message" >
                <div class="text_messages">{{ db.no_message[lang] }}</div>
            </div>
            <div class="textarea-container">
                <textarea placeholder="Ecrire un message" #messageContent2></textarea>
                <i  class="fa fa-send send_icon" (click)="sendMessage(messageContent2)"></i>
            </div>
        </div>
    </div>
</div>