/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', 'Helvetica';
    margin: 0;
    //  ::placeholder {
    //     color: white !important;
    //     opacity: 1 !important
    // }
}

// .mat-input-underline {
//     background-color: rgba(255, 255, 255, 0.51);
// }
// .mat-input-container label {
//     color: white;
// }
// .mat-input-container .mat-input-focused label {
//     color: green
// }
.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 40px;
    }
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.googleplus-color {
    background-color: #d34836 !important;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.facebook-color {
    background-color: #3b5998 !important;
}

.twitter-color {
    background-color: #1dcaff !important;
}

.linkedin-color {
    background-color: #0077B5 !important;
}

.text-white {
    color: white !important
}

.text-red {
    color: #FF5252 !important
}

//personnal class =====================
@media screen and (max-width: 975px) {
    .commentaire{
        position: relative;
        top: -25px;
        left: 4px;
    }
}
