.description-none-user{
    color: darkslategrey;
    font-size: 1.2em;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    white-space: pre-line;

    .fa{
        font-size: 0.6em;
    }
}