.bg-grey {
    background: rgb(240, 240, 240) !important;
}

p.text-white:nth-child(2) {
    background-color: rgba(255,255,255,0.2);
    padding: 12px;
    border-radius: 8px;
    font-size: 1.2em;
}


*[parallax] {
    width: 100%;
    height: 500px;
    background-size: 100%;
}

#parallax {
    background-image: url('/assets/img/parallax1.jpg');
}

#parallax2 {
    background-image: url('/assets/img/parallax2.jpg');
    background-size: cover
}

.form_search {
    width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px
}

@media screen and (max-width: 640px) {
    *[parallax] {
        height: 480px;
    }
    .header_title {
        padding: 0;
        line-height: 35px;
        font-size: 2em
    }
    .title-responsive {
        font-size: 1.5em;
    }
    .form_search {
        width: 250px;
        padding: 25px
    }
}

.chips-line {
    border: 1px solid;
    border-color: #03A9F4;
    color: #03A9F4;
    border-radius: 25px
}

.chips-filled {
    border: 1px solid;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px
}

.bg-gradient {
    background: linear-gradient(45deg, #062344, #028bff);
}

#search {
    background-color: #028bff;
}

mat-select {
    width: auto;
}

h1 {
    font-size: 3em !important;
    margin: 5px
}