<div id="home" *ngIf="db">
    <div parallax id="parallax" [config]="{initialValue: -100, ratio: .7}" class="fluid-container text-center mt-5 d-flex align-items-center">
        <div class="container">
            <p class="text-white mt-4 mat-display-3 header_title mb-4">{{ db.__text.header_title[lang] }}</p>
            <p class="text-white">{{ db.__text.header_p[lang] }}</p>
            <form [formGroup]="rForm" (ngSubmit)="search(rForm.value.price, rForm.value.type)" class="form_search mt-3 p-3">
                <!-- <mat-form-field class="m-1">
                    <input matInput type="text" placeholder="{{ db.country[lang] }}" required>
                </mat-form-field> -->
                <mat-form-field class="mr-4">
                    <input formControlName="price" matInput type="number" placeholder="{{ db.price[lang] }} €" required>
                </mat-form-field>
                <mat-form-field class="mr-4">
                    <mat-select formControlName="type" placeholder="Type" required>
                        <mat-option value="location">{{ db.location[lang] }}</mat-option>
                        <mat-option value="colocation">{{ db.colocation[lang] }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="!rForm.valid" type="submit" mat-raised-button id="search" class="text-white"><fa [name]="'search'" class="mr-2"></fa>{{ db.search[lang] }}</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="m-md-5 m-sm-0 d-sm-flex align-items-center p-4 justify-content-center text-center">
            <mat-icon class="mr-2 d-inline">business</mat-icon>
            <p class="mat-display-1 d-md-inline d-sm-flex mr-md-5 mr-sm-0 mb-0">{{ db.__text.search_coloc[lang] }} {{ db.or[lang] }}</p>
            <button mat-raised-button class="d-md-inline d-sm-flex p-2 mb-0" style="font-size: 1em" (click)="openInscription()">{{ db.__text.proposed_button[lang] }}</button>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 col-md-offset-2 col-sm-12 w-auto mb-4 text-center" *ngFor="let trano of list_trano">
                <mat-card style="min-width: 275px">
                    <mat-card-content>
                        <img [src]="trano.pic || 'assets/img/background.jpg'" mat-card-image height="175px">
                    </mat-card-content>
                    <span class="d-flex justify-content-center"><mat-icon class="text-red">place</mat-icon>{{ trano.city }}</span>
                    <mat-card-footer>
                        <div class="text-center m-4">
                            <p class="text-center chips-line d-inline p-2 mr-2">{{ trano.type }}</p>
                            <p class="text-center chips-filled d-inline p-2">{{ trano.price }} &euro; / {{ db.month[lang] }}</p>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="fluid-container d-flex align-items-center text-white" parallax id="parallax2" [config]="{initialValue: -100, ratio: .9}">
        <div class="container text-center">
            <p class="mat-display-1 mb-4 title-responsive">{{ db.__text.title_2[lang] }}</p>
            <button mat-raised-button color="primary" class="m-10 large" routerLink="/inscription">{{ db.register[lang].toUpperCase() }}</button>
        </div>
    </div>

    <div class="fluid-container bg-gradient">
        <div class="d-flex align-items-center">
            <div class="col-md-6 offset-md-1 col-sm-12 text-center p-sm-5 p-5 p-md-0">
                <p class="mat-display-1 text-white mb-4 title-responsive" data-aos="fade-up"><b>{{ db.__text.title_3[lang] }}</b></p>
                <button mat-raised-button class="bg-green text-white">
                                <mat-icon>android</mat-icon>
                                {{ db.download[lang] }}
                            </button>
            </div>
            <div class="col-md-5 d-sm-none d-none d-md-block text-right pr-0">
                <img src="assets/img/phone.png" width="450px">
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>