<div class="container" style="margin-top: 95px; margin-bottom: 45px !important">
    <h1 class="text-center" style="margin-bottom: 35px">
        <fa [name]="'comments'" [size]=1 class="mr-2"></fa>FAQ</h1>
    <mat-accordion class="mt-4">
        <mat-expansion-panel *ngFor="let item of faq">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4 class="text-white">{{ item.title }}</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-white">{{ item.description }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<app-footer></app-footer>