.p-25 {
    padding: 25px
}

p {
    font-size: 1.2em;
    line-height: 1.5em
}

p,
h4 {
    font-weight: 300
}

mat-expansion-panel {
    padding: 15px;
    background-color: rgb(29, 202, 255);
}

@media screen and (max-width: 640px) {
    h4 {
        font-size: 1.2em;
        font-weight: 400;
        text-overflow: ellipsis;
    }
    .p-25 {
        padding: 5px
    }
}