<mat-card class="absolute" *ngIf="annonce && users" id="comment_content">
    <div class="width-100 height-100 relative">
        <div class="header">
            {{ annonce.reaction_annonce.comment.length }}
            {{lang === 'FR' ?
                                annonce.reaction_annonce.comment.length === 0 ? ' Commentaire' : ' Commentaires'
                            :   annonce.reaction_annonce.comment.length === 0 ? ' Comment'     : ' Comments'
            }}
            <span (click)="close()">X</span>
        </div>
        <div class="content">
            <div class="comment" *ngFor="let comment of annonce.reaction_annonce.comment">
                <div class="comment-header">
                    <img src="{{ findUser(comment._id_client).pic_prof[0] }}" alt="" class="">
                <div class="comment-text">
                    <h4>{{ findUser(comment._id_client).firstName }}</h4>
                    <p>{{comment.comment}}</p>
                </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <img src="{{ user.pic_prof[0] }}" alt="" class="rounded-border">
            <textarea placeholder="Ecrire un message" #commentText></textarea>
            <i class="send_icon" (click)="addComment(commentText)">{{ lang  === 'FR' ? 'Commenter' : 'Comment'}}</i>
        </div>

    </div>
</mat-card>
