.back-white{
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
}
.absolute{
    width: 650px;
    position: absolute;
    max-height: calc(100% - 100px) !important;
    min-height: calc(100% - 100px) !important;
    top: 70px;
    background-color: #ffffff;
    left: calc(50% - 325px);
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 75px;  
}
.header{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: fixed;
    width: 650px;
    height: 50px;
    background: deepskyblue;
    top: 22px;
    left: calc(50% - 325px);
    color: white;
    text-align: center;
    line-height: 50px;

    padding-right: 20px;

    span{
        float: right;
        font-weight: bold;
        cursor: pointer;
    }
}
.footer{
    position: fixed;
    width: 650px;
    left: calc(50% - 325px);
    background: white;
    bottom: 13px;
    height: 75px;
    border-top: 1px solid #80808061;
    textarea{
        margin-bottom: 0px;
        height: 50px;
        width: calc(100% - 170px);
        margin-top: 14px;
        border: 1px solid grey;
        border-radius: 20px;
        line-height: 50px;
        padding: 0px 20px;
        height: 50px;
        resize: none;
        vertical-align: middle;
    }
    i{
        vertical-align: middle;
        margin-top: 12px;
        display: inline-block;
        margin-left: 10px;
        color: deepskyblue;
        cursor: pointer;
    }
    textarea::-webkit-scrollbar{
        width: 0px !important;
    }
    
    img{
        width: 40px !important;
        height: 40px !important;
        vertical-align: top;
        margin: 18px 5px;
        border-radius: 50%;
    }
}
.content{
    .comment-header{
        margin: 10px auto;
    }
    img{
        width: 40px !important;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        border-radius: 50%;
    }
    .comment-text{
        width: calc(100% - 60px);
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        border: 1px solid #d0cece85;
        border-radius: 5px;

        p{
            white-space: pre-line;
            word-wrap: wrap;
        }
    }
}

